<ion-card class="scrollable-y">
  <ion-img alt="{{'Picture of the film titled: ' + show?.name}}" src="{{show?.image}}" />
  <ion-card-header>
    <ion-card-title style="align-self: flex-start;">{{show?.name}}</ion-card-title>
    <ion-card-subtitle style="align-self: flex-start;">
      <ion-badge>{{show?.rating}}</ion-badge>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content [innerHTML]="show?.summary" class="show-summary">
  </ion-card-content>
  <ion-button *ngIf="callToAction" class="tvshow-action" [appTvshowDetailNavigation]="show?.id">Show More</ion-button>
</ion-card>