<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="home-header-title">
      Movies
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [debounce]="500"></ion-searchbar>
    <ion-list class="home-search-list">
      <ion-item *ngFor="let result of items$ | async">
        <ion-label [appTvshowDetailNavigation]="result?.id">{{ result.name }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <section id="container" class="scrollable-y--hide">
    <app-dashboard [genres]="genres" [tvShowsByGenre]="tvShowsByGenre" [showsPerGenreLimit]="showsPerGenreLimit"></app-dashboard>
  </section>
</ion-content>
